Write a Python function that takes a list of numbers and returns a new list containing only the even numbers, squared.

In [ ]:
# my answer
nums = [1, 2, 3, 4, 5, 6]
output = []

for num in nums:
    if num % 2 == 0:
        output.append(num * num)
print(output)

[4, 16, 36]

In [1]:
# Better answer
nums = [1, 2, 3, 4, 5, 6]
output = [num * num for num in nums if num % 2 == 0]
print(output)

[4, 16, 36]

In [ ]:
students = {
    "Alice": 55,
    "Bob": 75,
    "Charlie": 95,
    "David": 40
}

output = {}

for student, grade in students.items():
    if grade >= 60:
        output[student] = grade + 10
print(output)

{'Bob': 85, 'Charlie': 105}

In [18]:
input_string = "abcdefg"
empty_string = ""
i = 0

for letter in input_string:
    if i % 2 == 0: 
        empty_string += letter
    i += 1
print(empty_string)

aceg

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
num = [number for number in numbers if number % 2 != 0]
num

[1, 3, 5, 7, 9]

In [8]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
output = []
for list in matrix:
    output.append(sum(list))
print(output)

[6, 15, 24]

In [ ]:
scores = {
    "Alice": 55,
    "Bob": 75,
    "Charlie": 45,
    "David": 80
}

new_scores = {}

for name, grade in scores.items():
    if grade <= 60:
        new_scores[name] = grade + 10
print(new_scores)

{'Alice': 65, 'Charlie': 55}

In [17]:
input_string = "Hello, World!"
empty_string = ""
vowels = ['a', 'e', 'i', 'o', 'u']

for letter in input_string:
    if letter.lower() not in vowels:  # Checking if the letter is not a vowel
        empty_string += letter
print(empty_string)

Hll, Wrld!

In [25]:
input_string = "aabbccaa"
dict ={}
for char in input_string:
    if char in dict: 
        dict[char] += 1
    else:
        dict[char] = 1
print(dict)

{'a': 4, 'b': 2, 'c': 2}

In [38]:
input_string = "A man a plan a canal Panama"
def process_string(input):
    no_spaces = input_string.replace(" ", "")
    lowercased = no_spaces.lower()
    return lowercased

processed = process_string(input_string)
processed == processed[::-1]
if processed == processed[::-1]:
    print(True)
else:
    print(False)

True

In [22]:
numbers = [10, 20, 4, 45, 99]

numbers.sort()

numbers[-2]

45

In [35]:
words = ["apple", "banana", "kiwi", "strawberry", "grape"]
# Expected output: ["banana", "strawberry"]
i = 0
for fruit in words:
    for char in fruit:
        i += 1
    if i > 5:
        print(fruit)
        i = 0
    else:
        i = 0

banana
strawberry

In [37]:
nums = [1, 2, 3, 4, 5]
# Expected output: [2, 4, 6, 8, 10]
# Write a function that takes a list of numbers and returns a new list with each number doubled.
numbers=[num * 2 for num in nums]
numbers

[2, 4, 6, 8, 10]

In [47]:
# Write a function that takes a string and returns a dictionary where the keys are characters in the string and the values are the number of times each character appears.

input_string = "banana"
# Expected output: {'b': 1, 'a': 3, 'n': 2}

empty = {}
for char in input_string:
    if char in empty:
        empty[char] += 1
    else:
        empty[char] = 1
print(empty)

{'b': 1, 'a': 3, 'n': 2}

In [49]:
# return the prime numbers
input_list = [2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: [2, 3, 5, 7]

for num in input_list: 
    if num % 2 != 0:
        print(num)

3
5
7
9

In [6]:
input_string = "this is a test this is only a test"
# Expected output: {'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}
# Write a function that takes a string and returns a dictionary with the count of each word in the string.
split_list = input_string.split(" ")
empty_dict = {}

for item in split_list:
    if item in empty_dict: 
        empty_dict[item] += 1
    else:
        empty_dict[item] = 1

print(empty_dict)

{'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}

In [ ]:
input_list = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
# Expected output: [2, 3, 5, 7, 11]
list = []
for item in input_list: 
    if item % 2 != 0:
        list.append(item)
print(list)

[3, 5, 7, 9, 11]

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]

In [ ]:
sentence = "The quick brown fox jumped over the lazy dog"
split_sentence = sentence.split(" ")
count = []

for word in split_sentence:
    count.append(len(word))
max_value = max(count)
index = count.index(max_value)
print(split_sentence[index])

jumped

In [17]:
input_string_one = "abacabad"

input_string_two = "aabbcc"


def first_non_repeated(s):
    char_count = {}
    for char in s:
        char_count[char] = char_count.get(char, 0) + 1  
    for char in s: 
        if char_count[char] == 1:
            return char


print(first_non_repeated(input_string_one))
print(first_non_repeated(input_string_two))

c
None

In [ ]:


#Write a function that takes a list of integers and returns True if there are any duplicate numbers, otherwise returns False.

def has_duplicates(i):
    int_count = {}
    for integer in i:
        int_count[integer] = int_count.get(integer, 0) + 1
    for integer, count in int_count.items():
        if int_count[integer] > 1:
            return True
    return False

has_duplicates([1, 2, 3, 4, 5])  # Output: False  
has_duplicates([1, 2, 3, 4, 1])  # Output: True

False

In [42]:
def find_missing_number(i):
    n = len(i) + 1  # Since one number is missing
    expected_sum = n * (n + 1) // 2  # Sum formula for first n natural numbers
    actual_sum = sum(i)
    return expected_sum - actual_sum

print(find_missing_number([1, 2, 4, 5]))  # Output: 3
print(find_missing_number([3, 7, 1, 2, 8, 4, 5]))  # Output: 6
print(find_missing_number([1, 2, 3, 4, 5, 6, 8]))  # Output: 7

3
6
7

In [46]:

def first_repeating(i):
    unique_numbers = set()
    for num in i: 
        if num not in unique_numbers:
            unique_numbers.add(num)
        else: 
            return num


print(first_repeating([1, 2, 3, 5, 3, 2, 1]))  # Output: 3
print(first_repeating([1, 2, 3, 4, 5]))        # Output: None
print(first_repeating([7, 8, 9, 7, 10, 9]))    # Output: 7

3
None
7

In [55]:

def rotate_list(l, k):
    first_slice = l[:-k]
    second_slice = l[-k:]
    second_slice.extend(first_slice)
    return(second_slice)

print(rotate_list([1, 2, 3, 4, 5], 2))
print(rotate_list([0, 1, 2], 4))        # Output: [2, 0, 1]

[4, 5, 1, 2, 3]
[0, 1, 2]

In [63]:

%%time

def merge_sorted_lists(l, n):
    lset = set(l)
    nset = set(n)
    return lset.union(nset), lset, nset

merge_sorted_lists([1, 3, 5, 7], [2, 4, 6, 8])  # Output: [1, 2, 3, 4, 5, 6, 7, 8]
merge_sorted_lists([1, 10, 20], [5, 15])        # Output: [1, 5, 10, 15, 20]
merge_sorted_lists([], [1, 2, 3])               # Output: [1, 2, 3]

CPU times: user 21 µs, sys: 2 µs, total: 23 µs
Wall time: 25.5 µs

({1, 2, 3}, set(), {1, 2, 3})

In [85]:
array1 = [1, 2, 2, 1]
array2 = [2, 2]


def intersection_finder(a1, a2):
    index_a1 = {}
    index_a2 = {}
    for num in a1: 
        index_a1[num] = index_a1.get(num, 0) + 1
    for num in a2: 
        index_a2[num] = index_a2.get(num, 0) + 1
    intersection = []
    for num in index_a1:
        if num in index_a2:
            count = min(index_a1[num], index_a2[num])
            intersection.extend([num] * count)
    return intersection

    
print(intersection_finder(array1, array2))

[2, 2]

In [ ]:
input = ["eat", "tea", "tan", "ate", "nat", "bat"]
#output = [["eat", "tea", "ate"], ["tan", "nat"], ["bat"]]
def find_anagrams(i):
    words_sorted = {}
    for word in i:
        sorted_word = "".join(sorted(word))  # join the items of the list
        if sorted_word in words_sorted:
            words_sorted[sorted_word].append(word)  # Add word to existing list of words
        else: 
            words_sorted[sorted_word] = [word]  # create a list of words in the dictionary corresponding to a sorted word
    return list(words_sorted.values()) # return the values associated with this.

result = find_anagrams(input)
print(result)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [101]:
def majority_element(l):
    n = len(l)
    index = {}
    for num in l: 
        index[num] = index.get(num, 0) + 1
    for num, count in index.items():
        if count > (n / 2):
            return num
    return "None"



print(majority_element([3, 3, 4, 2, 3, 3, 3, 1]))  # Output: 3
print(majority_element([1, 2, 3, 4, 5]))          # Output: None
print(majority_element([7, 7, 7, 7, 2, 2, 7]))    # Output: 7

3
None
7

In [5]:
nums = [-1, 0, 3, 5, 9, 12]
target_num = 9

def get_target(l, target):
    left = 0
    right = len(l) - 1
    while left <= right:
        midpoint = left + (right - left) // 2 
        if target == l[midpoint]:
            return midpoint
        elif target < l[midpoint]: # search right side
            right = midpoint - 1 # slide window to the right for search
        else:
            left = midpoint + 1
    return -1

print(get_target(nums, target_num))

4

In [9]:
nums = [1, 3, 5, 6]
target = 2
def find_insert_site(l, t):
    left = 0
    right = len(nums) - 1
    while left <= right:
        midpoint = left + ( (right - left) // 2 )
        if target == l[midpoint]:
            return midpoint
        elif target < l[midpoint]: # left side search
            right = midpoint -1
        else:
            left = midpoint + 1
    return left

find_insert_site(nums, target)

1

In [1]:
import pandas as pd
import numpy as np

# Create mock gene expression data
np.random.seed(42)  # For reproducibility

genes = ['GeneA', 'GeneB', 'GeneC', 'GeneD', 'GeneE']
samples = ['Sample1', 'Sample2', 'Sample3', 'Sample4', 'Sample5']

# Generate random gene expression data
data = np.random.rand(5, 5) * 100  # Expression values between 0 and 100

# Create DataFrame
df = pd.DataFrame(data, columns=genes, index=samples)

# Display the mock data
print(df)

             GeneA      GeneB      GeneC      GeneD      GeneE
Sample1  37.454012  95.071431  73.199394  59.865848  15.601864
Sample2  15.599452   5.808361  86.617615  60.111501  70.807258
Sample3   2.058449  96.990985  83.244264  21.233911  18.182497
Sample4  18.340451  30.424224  52.475643  43.194502  29.122914
Sample5  61.185289  13.949386  29.214465  36.636184  45.606998

In [3]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8]], columns=["A", "B", "C", "D"])
df

   A  B  C  D
0  1  2  3  4
1  5  6  7  8

In [5]:
d = {
    "Name": ["Alice", "Bob", "Charlie", "Dave", "Eve", "Frank", "Grace"],
    "Gender": ["F", "M", "M", "M", "F", "M", "F"],
    "Age": [20, 40, 32, 31, 25, 20, 40],
}

df = pd.DataFrame(d)
df

      Name Gender  Age
0    Alice      F   20
1      Bob      M   40
2  Charlie      M   32
3     Dave      M   31
4      Eve      F   25
5    Frank      M   20
6    Grace      F   40

In [6]:
df2 = pd.DataFrame.from_dict(d)
df2

      Name Gender  Age
0    Alice      F   20
1      Bob      M   40
2  Charlie      M   32
3     Dave      M   31
4      Eve      F   25
5    Frank      M   20
6    Grace      F   40

In [8]:
df3 = pd.DataFrame.from_dict(d, orient="index")
df3

            0    1        2     3    4      5      6
Name    Alice  Bob  Charlie  Dave  Eve  Frank  Grace
Gender      F    M        M     M    F      M      F
Age        20   40       32    31   25     20     40

In [17]:
df = pd.DataFrame.from_dict(d, orient="index")
df

            0    1        2     3    4      5      6
Name    Alice  Bob  Charlie  Dave  Eve  Frank  Grace
Gender      F    M        M     M    F      M      F
Age        20   40       32    31   25     20     40

In [19]:
d = {
    "id_1": ["Alice", "F", "20"],
    "id_2": ["Bob", "M", "40"],
    "id_3": ["Charlie", "M", "32"],
    "id_4": ["Dave", "M", "31"],
    "id_5": ["Eve", "F", "25"],
    "id_6": ["Frank", "M", "20"],
    "id_7": ["Grace", "F", "40"],
}
d
pd.DataFrame(d.values(), columns=["Name", "Gender", "Age"])

      Name Gender Age
0    Alice      F  20
1      Bob      M  40
2  Charlie      M  32
3     Dave      M  31
4      Eve      F  25
5    Frank      M  20
6    Grace      F  40

In [ ]:
import pandas as pd
d = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['NYC', 'LA', 'SF']}
df = pd.DataFrame.from_dict(d)
df

      Name  Age City
0    Alice   25  NYC
1      Bob   30   LA
2  Charlie   35   SF

In [28]:
df["Age"]

0    25
1    30
2    35
Name: Age, dtype: int64

In [31]:
df.assign(Salary = [7000, 8000, 9000])

      Name  Age City  Salary
0    Alice   25  NYC    7000
1      Bob   30   LA    8000
2  Charlie   35   SF    9000

In [ ]:
average_age = df['Age'].mean()
average_age

np.float64(30.0)

In [45]:
filtered_df = df[df['Age'] >= 30]
filtered_df

      Name  Age City
1      Bob   30   LA
2  Charlie   35   SF

In [49]:
sorted_ascending = df.sort_values(by = 'Age')
sorted_descending = df. sort_values(by = 'Age', ascending = False)
sorted_descending

      Name  Age City
2  Charlie   35   SF
1      Bob   30   LA
0    Alice   25  NYC

In [60]:
grouped = df.groupby('City')
mean = grouped['Age'].mean()
mean

City
LA     30.0
NYC    25.0
SF     35.0
Name: Age, dtype: float64

In [70]:
job_data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Job': ['Engineer', 'Doctor', 'Artist']}
job_data_df = pd.DataFrame(job_data)
merged = pd.merge(df, job_data_df, on = 'Name')
merged

      Name  Age City       Job
0    Alice   25  NYC  Engineer
1      Bob   30   LA    Doctor
2  Charlie   35   SF    Artist

In [79]:
piv = pd.pivot_table(merged, values = 'Age', index = 'Job', aggfunc='mean')
piv

           Age
Job
Artist    35.0
Doctor    30.0
Engineer  25.0

In [85]:
new = df[df['Age'] > 25]
print(new[new['City'] != 'NYC'])

      Name  Age City
1      Bob   30   LA
2  Charlie   35   SF

In [94]:
def old_or_not(dataframe):
    dataframe['Seniority'] = ""  # Create a new column for Seniority
    for index, row in dataframe.iterrows():  # Loop through each row in the DataFrame
        if row['Age'] > 30:  # Check if the 'Age' is greater than 30
            dataframe.at[index, 'Seniority'] = "Senior"  # Assign "Senior" if age > 30
        else:
            dataframe.at[index, 'Seniority'] = "Adult"  # Assign "Adult" if age <= 30
    return dataframe  # Return the updated dataframe

# Sample DataFrame
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['NYC', 'LA', 'SF']
})

print(old_or_not(df))  # Call the function and print the result

      Name  Age City Seniority
0    Alice   25  NYC     Adult
1      Bob   30   LA     Adult
2  Charlie   35   SF    Senior

In [107]:
import pandas as pd
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [24, 30, 35, 40, 22],
        'Salary': [5000, 6000, 7000, 8000, 4000]}

df = pd.DataFrame(data)

def get_salary_sum(df):
    filtered = df[df['Age'] > 25]
    return filtered['Salary'].sum()

print(get_salary_sum(df))

21000

In [5]:
#import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Marketing'],
        'Salary': [5000, 6000, 7000, 8000, 4000],
        'Experience': [2, 5, 3, 7, 1]}

df = pd.DataFrame(data)

def highest_experience_employee(df):
    result = df.loc[df.groupby('Department')['Experience'].idxmax(), ['Department', 'Name', 'Experience']]
    return result.reset_index(drop=True)

print(highest_experience_employee(df))

    Department     Name  Experience
0  Engineering    David           7
1           HR  Charlie           3
2    Marketing      Eve           1

In [7]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Marketing'],
        'Salary': [5000, 6000, 7000, 8000, 4000],
        'Experience': [2, 5, 3, 7, 1]}

df = pd.DataFrame(data)

def adjust_salary(df):
    for index, row in df.iterrows():
        if df.at[index, 'Experience'] > 5:
            df.at[index, 'Salary'] *= 1.1
        elif 3 < df.at[index, 'Experience'] <= 5: 
            df.at[index, 'Salary'] *= 1.05
    return df


print(adjust_salary(df))

      Name   Department  Salary  Experience
0    Alice           HR    5000           2
1      Bob  Engineering    6300           5
2  Charlie           HR    7000           3
3    David  Engineering    8800           7
4      Eve    Marketing    4000           1

In [11]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Marketing'],
        'Salary': [5000, 6000, 7000, 8000, 4000],
        'Experience': [2, 5, 3, 7, 1]}

df = pd.DataFrame(data)

def adjust_salary(df): 
    df['Salary'] = df.apply(lambda row: row['Salary'] * 1.1 if row['Experience'] > 5
                            else row['Salary'] * 1.05 if 3 < row['Experience'] <= 5
                            else row['Salary'], axis=1)
    return df
print(adjust_salary(df))

      Name   Department  Salary  Experience
0    Alice           HR  5000.0           2
1      Bob  Engineering  6300.0           5
2  Charlie           HR  7000.0           3
3    David  Engineering  8800.0           7
4      Eve    Marketing  4000.0           1

In [16]:
#import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Performance': [95, 85, 78, 92, 88],
    'Salary': [5000, 6000, 7000, 8000, 4000]
}

df = pd.DataFrame(data)

def update_salaries(df):
    df['Salary'] = df.apply(lambda row: 
                            row['Salary'] * 1.15 if row['Performance'] > 90
                            else row['Salary'] * 1.1 if 80 <= row['Performance'] <= 90
                            else row['Salary'], axis=1)
    return df

print(update_salaries(df))

      Name  Performance  Salary
0    Alice           95  5750.0
1      Bob           85  6600.0
2  Charlie           78  7000.0
3    David           92  9200.0
4      Eve           88  4400.0

In [21]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Performance': [95, 85, 78, 92, 88]
}

df = pd.DataFrame(data)

def categorize_performance(df): 
    df['Performance_category'] = df.apply(lambda row: 'High' if row['Performance'] >= 90
                                          else 'Average' if 80 <= row['Performance'] <= 89
                                          else 'Suck', axis = 1)
    return df

print(categorize_performance(df))

      Name  Performance Performance_category
0    Alice           95                 High
1      Bob           85              Average
2  Charlie           78                 Suck
3    David           92                 High
4      Eve           88              Average

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Marketing'],
    'Age': [28, 45, 55, 33, 26],
    'Salary': [5000, 6000, 7000, 8000, 4000]
}

df = pd.DataFrame(data)

def adjust_sal_by_age(df):
    df['Salary'] = df.apply(lambda row: row['Salary'] * 1.05 if row['Age'] <= 30
                            else row['Salary'] * 1.02 if 31 <= row['Age'] <= 50
                            else row['Salary'] * 1.01, axis = 1)
    return df

print(adjust_sal_by_age(df))

      Name   Department  Age  Salary
0    Alice           HR   28  5250.0
1      Bob  Engineering   45  6120.0
2  Charlie           HR   55  7070.0
3    David  Engineering   33  8160.0
4      Eve    Marketing   26  4200.0

In [ ]:
import pandas as pd

data = {
    'Product': ['A', 'A', 'B', 'B', 'C', 'C', 'C', 'A', 'B'],
    'Sales': [500, 300, 400, 250, 600, 350, 200, 550, 500],
    'Date': ['2025-01-01', '2025-01-02', '2025-01-01', '2025-01-03', '2025-01-02', 
             '2025-01-03', '2025-01-04', '2025-01-04', '2025-01-05']
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

def get_sales_each_day_highest_product(df):
    sales_total = df.groupby('Product')['Sales'].sum().reset_index()
    df.join(sales_total, )
    return df

#print(get_sales_each_day_highest_product(df))
sales_total = df.groupby('Product')['Sales'].sum().reset_index()
print(sales_total)
print(df.groupby('Product')['Sales'].rolling(window=2).mean().reset_index().dropna())
df_merged = df.merge(sales_total, on = 'Product')
highest_seller = sales_total.max().reset_index()
top_product = highest_seller.at[0, 0]
result = df[df['Product'] == top_product]
result




#df

  Product  Sales
0       A   1350
1       B   1150
2       C   1150
  Product  level_1  Sales
1       A        1  400.0
2       A        7  425.0
4       B        3  325.0
5       B        8  375.0
7       C        5  475.0
8       C        6  275.0

  Product  Sales       Date
4       C    600 2025-01-02
5       C    350 2025-01-03
6       C    200 2025-01-04

In [3]:
import pandas as pd

data = {
    'Store': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'C', 'A'],
    'Sales': [500, 700, 300, 400, 200, 800, 600, 900, 1000, 300],
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar', 'Apr', 'Apr', 'May', 'May']
}

df = pd.DataFrame(data)


def get_highest_store(df):
    sum_stores = df.groupby(['Store'])['Sales'].sum().reset_index()
    top_store = sum_stores.loc[sum_stores['Sales'].idxmax(), 'Store']
    result = df[df['Store'] == top_store]
    return result.reset_index(drop=True)

print(get_highest_store(df))

  Store  Sales Month
0     C    400   Feb
1     C    600   Apr
2     C   1000   May

In [ ]:
import pandas as pd

data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South'],
    'Month': ['Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar'],
    'Sales': [500, 600, 700, 400, 800, 900, 500, 600, 300, 200]
}

df = pd.DataFrame(data)


sum_sales = df.groupby('Region')['Sales'].sum().reset_index()
highest = sum_sales.loc[sum_sales['Sales'].idxmax(), 'Region']
result = df[df['Region'] == highest]
result

  Region Month  Sales
1  South   Jan    600
5  South   Feb    900
9  South   Mar    200

In [61]:

data = {
    'Gene': ['TP53', 'BRCA1', 'EGFR', 'MYC', 'APOE', 'TP53', 'BRCA1', 'EGFR', 'MYC', 'APOE',
             'TP53', 'BRCA1', 'EGFR', 'MYC', 'APOE'],
    'Sample': ['S1', 'S1', 'S1', 'S1', 'S1', 'S2', 'S2', 'S2', 'S2', 'S2',
               'S3', 'S3', 'S3', 'S3', 'S3'],
    'Expression': [12.5, 8.2, 15.6, 9.1, 7.4, 14.2, 9.5, 17.8, 8.7, 6.9,
                   13.1, 8.9, 16.4, 9.9, 7.2]
}

df = pd.DataFrame(data)

mean_expression = df.groupby('Gene')['Expression'].mean().reset_index()
sorted = mean_expression.sort_values(by = ['Expression'], ascending=False)
top_five = sorted.head(5)
result = df[df['Gene'].isin(top_five['Gene'])]
result

#result = df[df['Gene'] == max_gene]

     Gene Sample  Expression
0    TP53     S1        12.5
1   BRCA1     S1         8.2
2    EGFR     S1        15.6
3     MYC     S1         9.1
4    APOE     S1         7.4
5    TP53     S2        14.2
6   BRCA1     S2         9.5
7    EGFR     S2        17.8
8     MYC     S2         8.7
9    APOE     S2         6.9
10   TP53     S3        13.1
11  BRCA1     S3         8.9
12   EGFR     S3        16.4
13    MYC     S3         9.9
14   APOE     S3         7.2

In [ ]:
import pandas as pd
dataset = {'Gene': ['Gene1', 'Gene2', 'Gene1', 'Gene2', 'Gene1', 'Gene2'],
           'Sample': ['Sample1', 'Sample1', 'Sample2', 'Sample2', 'Sample3', 'Sample3'],
           'Expression': [10, 15, 5, 20, 30, 35]}
df = pd.DataFrame(dataset)
#print(df)

# get average expression for each sample
mean_samples = df.groupby('Sample')['Expression'].mean().reset_index()
# sort to get the highest 
sorted = mean_samples.sort_values(by = 'Expression', ascending = False)
# head to get the top 3
top = sorted.head(3)
# Filter original dataset to get only top hits
result = df[df['Sample'].isin(top['Sample'])]

result

    Gene   Sample  Expression
0  Gene1  Sample1          10
1  Gene2  Sample1          15
2  Gene1  Sample2           5
3  Gene2  Sample2          20
4  Gene1  Sample3          30
5  Gene2  Sample3          35

In [ ]:
import pandas as pd

data = {
    'Gene': ['Gene1', 'Gene2', 'Gene3', 'Gene1', 'Gene2', 'Gene3', 'Gene1', 'Gene2', 'Gene3'],
    'Condition': ['Control', 'Control', 'Control', 'Treated', 'Treated', 'Treated', 'Disease', 'Disease', 'Disease'],
    'Expression': [10, 15, 5, 30, 45, 10, 5, 10, 2]
}

df = pd.DataFrame(data)

# Get the mean expression for each gene in each condition
mean_expression = df.groupby(['Gene'])['Expression'].mean().reset_index()
mean_expression.head()

# merge the mean expression data
merged = df.merge(mean_expression, on=['Gene'], suffixes=('', '_mean'))
# get the genes that are higher than 2 fold change vs mean
twofold = merged[merged['Expression'] >= merged['Expression_mean'] * 2]
twofold
top_3 = twofold.sort_values(by=(twofold['Expression']/twofold['Expression_mean']), ascending=False).head(3)
#top_3
# return the top 3 deffferentially expressed genes based on the fold change

In [54]:
#import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data = {
    'Gene1': [5.1, 4.9, 4.7, 6.1, 5.9, 5.8, 7.1, 6.8, 6.5, 5.5],
    'Gene2': [3.5, 3.0, 3.2, 3.3, 3.0, 3.1, 3.8, 3.2, 3.0, 3.6],
    'Gene3': [1.4, 1.4, 1.3, 1.8, 1.7, 1.6, 2.5, 2.3, 2.0, 1.4],
    'Condition': ['Control', 'Control', 'Control', 'Treated', 'Treated', 'Treated', 'Treated', 'Treated', 'Control', 'Control']
}

df = pd.DataFrame(data)
mapping = {'Control': 0, 'Treated': 1}
df['Condition_numeric'] = df['Condition'].map(mapping)
X = df[['Gene1', 'Gene2', 'Gene3']]
y = df['Condition_numeric']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = LogisticRegression()
model = model.fit(X_train, y_train)
prediction = model.predict(X_test)
accuracy_score(prediction, y_test)

1.0

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

data = {
    'GeneA': [2.1, 3.4, 1.8, 4.5, 3.2, 3.7, 2.8, 3.9, 1.5, 4.1],
    'GeneB': [1.2, 3.1, 2.9, 3.7, 2.5, 3.0, 2.1, 3.5, 1.8, 2.9],
    'GeneC': [3.3, 2.8, 3.5, 4.1, 3.0, 2.7, 3.2, 3.6, 2.9, 3.8],
    'Disease_Status': ['Healthy', 'Diseased', 'Healthy', 'Diseased', 'Diseased', 
                       'Healthy', 'Healthy', 'Diseased', 'Healthy', 'Diseased']
}

df = pd.DataFrame(data)

mapping = {'Healthy': 0, 'Diseased': 1}


df['Disease_Status_binary'] = df['Disease_Status'].map(mapping) 
X = df[['GeneA', 'GeneB', 'GeneC']]
y = df['Disease_Status_binary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=69)

model = DecisionTreeClassifier()
model = model.fit(X_train, y_train)
prediction = model.predict(X_test)

accuracy_score(prediction, y_test) 
confusion_matrix(prediction, y_test)

array([1, 0])

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

# Sample data
data = {
    'GeneX': [2.1, 3.4, 1.8, 4.5, 3.2, 3.7, 2.8, 3.9, 1.5, 4.1],
    'GeneY': [1.2, 3.1, 2.9, 3.7, 2.5, 3.0, 2.1, 3.5, 1.8, 2.9],
    'GeneZ': [3.3, 2.8, 3.5, 4.1, 3.0, 2.7, 3.2, 3.6, 2.9, 3.8],
    'Disease_Status': ['Healthy', 'Diseased', 'Healthy', 'Diseased', 'Diseased', 
                       'Healthy', 'Healthy', 'Diseased', 'Healthy', 'Diseased']
}

df = pd.DataFrame(data)

mapping = {'Healthy': 0, 'Diseased': 1}
df['Disease_Status_binary'] = df['Disease_Status'].map(mapping)

X = df[['GeneX', 'GeneY', 'GeneZ']]
y = df['Disease_Status_binary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=69)

model = RandomForestClassifier()
model = model.fit(X_train, y_train)
prediction = model.predict(X_test)
accuracy_score(y_test, prediction)
confusion_matrix(y_test, prediction)
print(y_test.values)
prediction

[1 0]

array([1, 0])

In [60]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix

# Sample dataset
data = {
    'Hydrophobicity': [0.62, -0.29, 0.88, 0.35, -0.12, 0.47, 0.71, 0.15, -0.22, 0.56],
    'Charge': [1, -1, 0, 1, -1, 1, 0, -1, 1, 0],
    'Molecular_Weight': [50.2, 45.3, 55.1, 48.7, 47.6, 51.9, 49.8, 46.2, 44.1, 53.0],
    'Solvent_Accessibility': [120, 140, 110, 130, 125, 135, 145, 115, 105, 128],
    'Catalytic_Efficiency': ['High', 'Low', 'High', 'High', 'Low', 
                              'High', 'Low', 'Low', 'High', 'Low']
}

df = pd.DataFrame(data)

# Convert categorical labels to numeric
mapping = {'High': 1, 'Low': 0}
df['Catalytic_Efficiency_numeric'] = df['Catalytic_Efficiency'].map(mapping)

# Define features and target
X = df[['Hydrophobicity', 'Charge', 'Molecular_Weight', 'Solvent_Accessibility']]
y = df['Catalytic_Efficiency_numeric']

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=69)

# Train Gradient Boosting Classifier
model = GradientBoostingClassifier()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate model performance
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print("Confusion Matrix:\n", conf_matrix)
print("Accuracy Score:", accuracy)

Confusion Matrix:
 [[0 0]
 [2 0]]
Accuracy Score: 0.0

In [ ]:

# Standardize
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

#

Test Accuracy: 0.63

Confusion Matrix:
 [[ 3 28]
 [ 9 60]]

Classification Report:
               precision    recall  f1-score   support

           0       0.25      0.10      0.14        31
           1       0.68      0.87      0.76        69

    accuracy                           0.63       100
   macro avg       0.47      0.48      0.45       100
weighted avg       0.55      0.63      0.57       100


Best Parameters: {'max_depth': 10, 'min_samples_split': 10, 'n_estimators': 200}

Optimized Accuracy: 0.67

In [69]:
import pandas as pd

data = {
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Sales': [120, 300, 150, 450, 200]
}
df = pd.DataFrame(data)

sorted = df.sort_values('Sales', ascending = False)

sorted.head(3)

# Your code here

  Product  Sales
3       D    450
1       B    300
4       E    200

In [ ]:
def reverse_string(s):
    i = 0
    string = s.split()
    empty_string = ''
    for letter in string:
        empty_string += (string[i])
        i += 1
    return empty_string

string = 'ABCDE'

print(reverse_string(string))

ValueError: empty separator

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Example dataset
X = [[1, 2], [3, 4], [5, 6], [7, 8]]
y = [0, 1, 0, 1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

# Your code here

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
# Example dataset
X = [[1, 2], [3, 4], [5, 6], [7, 8]]
y = [0, 1, 0, 1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

model = DecisionTreeClassifier()
model = model.fit(X_train, y_train)
prediction = model.predict(X_test)

confusion_matrix(y_test, prediction)
accuracy_score(y_test, prediction)
# Your code here

0.0

In [24]:
string = 'AAAAEEEEGGGGDDDCUUUUU'

def first_non_repeating_char(s):
    list = []
    i = 0
    for letter in string:
        list.append(letter)
        if list[i-1] != letter and list[i+1] != letter:
            return letter
        else:
            i+=1
    pass

first_non_repeating_char(string)
# go through each letter in string

# add to a list
# check if letter added is equal to the previous letter
# if not, return letter

IndexError: list index out of range

You have RNA-seq expression data stored as a NumPy array, where rows represent genes, and columns represent samples. The dataset is stored in X, and y contains binary labels (0 = control, 1 = disease).

Your task:

- Normalize the data using Z-score normalization (per gene).
- Select the top 100 most variable genes (highest standard deviation).
- Split the data into a training (80%) and test set (20%).
- Train a logistic regression classifier and evaluate its performance.

Expected Output (Example)
Shape of filtered dataset: (100, 50)
Train/test accuracy: ~0.6-0.9 (depending on random data)
Hints:
Z-score Normalization:
𝑋norm=𝑋−𝜇/𝜎

Use np.mean() and np.std() along axis=1 (genes).
Feature Selection (Top 100 Most Variable Genes):
Compute standard deviation per row.
Select the top 100 genes.
Train/Test Split:
Use train_test_split() with test_size=0.2.
Train Model:
Fit a LogisticRegression() model.
Evaluate accuracy using accuracy_score().

In [ ]:

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler

# Simulated RNA-seq data (1000 genes, 50 samples)
np.random.seed(42)
X = np.random.rand(1000, 50) * 100  # Expression values (genes x samples)
y = np.random.choice([0, 1], size=50)  # Binary labels (one per sample)

(50,)

In [24]:
# Select top 100 most variable genes
gene_variability = np.std(X, axis=1)  # Standard deviation per gene
print(gene_variability.shape)
#print(gene_variability)
top_100_genes = np.argsort(gene_variability)[-100:]  # Indices of top 100 genes
print(top_100_genes.shape)
#print(top_100_genes)
X_filtered = X[top_100_genes, :]  # Select most variable genes
print(X_filtered.shape)

(1000,)
(100,)
(100, 50)

In [27]:
# Normalize using StandardScaler (Z-score normalization)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_filtered.T)  # Transpose for ML (samples x genes)
X_scaled.shape

(50, 100)

In [28]:
# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [31]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [32]:
# Make predictions
prediction = model.predict(X_test)

# Evaluate performance
print("Accuracy:", accuracy_score(y_test, prediction))
print("Confusion Matrix:\n", confusion_matrix(y_test, prediction))

Accuracy: 0.8
Confusion Matrix:
 [[2 2]
 [0 6]]

You are given an RNA-seq dataset (rna_seq_data.csv) with 1000 genes (rows) and 50 samples (columns).
Each sample is labeled as 0 (healthy) or 1 (disease) in a separate file (labels.csv).

Your task is to:

Read the RNA-seq data and labels from the files.
Select the top 100 most variable genes (based on standard deviation).
Normalize the data using Z-score normalization.
Split the dataset into training and testing sets (80/20 split).
Train a Logistic Regression model to classify the samples.
Save predictions to a new file (predictions.csv).

In [106]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

np.random.seed(69) # set random seed for reproducability
X = np.random.rand(1000, 50) * 100 # make the expression data
y = np.random.choice([0, 1], size=50) # make labels for diseased or not

stdev = np.std(X, axis = 1) # get stdev
top_100_genes = np.argsort(stdev)[-100:] # get index for the top 100 genes
X_filtered = X[top_100_genes, :] # get top 100 genes
scaler = StandardScaler()
normalized = scaler.fit_transform(X_filtered.T)
X_train, X_test, y_train, y_test = train_test_split(normalized, y, test_size=.2, random_state=69)
model = LogisticRegression()
model = model.fit(X_train, y_train)
prediction = model.predict(X_test)


# Save predictions to a CSV file
predictions_df = pd.DataFrame(prediction, columns=['Predictions'])
predictions_df.to_csv('predictions.csv', index=False)



accuracy_score(prediction, y_test)
confusion_matrix(prediction, y_test)

array([[0, 1],
       [5, 4]])

In [ ]:
np.random.seed(69)
X = np.random.rand(50, 100) * 100
y = np.random.choice([0,1], size=50)

stdev = np.std(X, axis=1)
top_100_genes = np.argsort(stdev)[-100:]
filtered = X[top_100_genes]
scaler = StandardScaler

(50, 100)